@reference 'index.css';

.navbarButtons{
  @apply text-[var(--color-primary-100)] text-center align-text-top text-base 
  hover:text-[var(--color-primary-50)]
  hover:text-lg
  hover:outline-1
  focus:outline-1

  active:bg-[var(--color-primary-100)]
  active:text-[var(--color-primary-700)]

  mx-4
  w-1/5
  h-full;
  
  :active{
    @apply bg-[var(--color-primary-100)] text-[var(--color-primary-700)];

  }
  cursor: pointer;

}

.welcomeHeader{
  @apply mx-4 w-auto text-3xl  text-shadow-blue-900 self-center-safe ;
  
  font-family: Author-Semibold;
}
